@import "settings";

.app-navbar-top {
  height: $app-navbar-height;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  background-color: $app-bar-background-color;
  backdrop-filter: blur(20px);
  color: $app-bar-text-color;

  .appbar-container {
    max-width: 100%;
    .action-apps {
      display: flex;
      height: 100%;
      width: 100%;
      background-color: transparent;
      flex-direction: row;
      align-items: center;
      .items-left {
        font-size: 18px;
        padding: 0px 7px;
        border-radius: 3px;
        &:not(:first-child) {
          margin-left: 4px;
        }
        &.home a {
          font-size: 18px;
          color: inherit;
        }
        &:hover {
          color: rgb(255, 255, 255);
          filter: brightness(100%);
          background-color: $app-bar-left-text-color-hover;
        }
        &.searching-bar {
          padding: auto;
          margin-bottom: 5px;
          .group-searching {
            height: 24px;
          }
          &:hover {
            background-color: transparent;
          }
        }
        .text-element {
          font-size: 16px;
          font-weight: 700;
        }
      }
    }
    .app-branding {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-height: 20vh;
      &:hover {
        background-color: transparent;
      }
      a {
        color: inherit;
        &:hover {
          text-decoration: none;
          color: lighten($color: aliceblue, $amount: 10);
        }
        img.logo-top {
          width: 30px;
          border-radius: 8px;
          animation: spin-animation 2500ms infinite linear;
        }
        .logo-app-name-container {
          font-size: 15px;
          text-transform: uppercase;
          margin-left: 5px;
          margin-right: 5px;
          font-weight: bold;
          &.logo-app-name,
          span {
            text-transform: uppercase;
            background-image: linear-gradient(
              -225deg,
              rgb(72, 219, 251) 0%,
              rgb(34, 47, 62) 8%,
              rgb(10, 189, 227) 29%,
              rgb(200, 214, 229) 35%,
              rgb(223, 228, 234) 45%,
              rgb(72, 126, 176) 67%,
              rgb(64, 115, 158) 100%
            );
            background-clip: border-box;
            background-size: 200% auto;
            color: #fff;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: textclip 2s linear infinite;
            display: inline-block;
            font-size: 16px;
          }
        }
      }
    }
    .user-action {
      display: flex;
      height: 100%;
      width: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      div.items-right {
        padding: 2px 11px;
        background-color: transparent;
        border-radius: 3px;
        &:not(:first-child) {
          margin-left: 4px;
        }
        &:hover {
          cursor: pointer;
          background-color: $app-bar-right-text-color-hover;
        }
        &.user {
          padding: 0;
          background-color: transparent;
          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
            &:hover {
              filter: brightness(120%);
            }
          }
        }
      }
    }
  }
}
