@import 'settings';

.app-navbar-board {
  display: flex;
  height: $navbar-board-height;
  background-color: rgba(39, 60, 117,1.0);
  backdrop-filter: blur(15px);
  color: $app-board-text;
  font-size: 15px;
  .app-board-container {
    max-width: 100%;
    .board-navbar-info {
      display: flex;
      height: 45px;
      flex-direction: row;
      align-items: center;
      background-color: transparent;
      .divider {
        height: 30px;
        padding-left: 5px;
        font-size: 18px;
        &::before {
          content: "|";
          color: $app-board-divider;
        }
      }
      div.items {
        padding: 2px 10px 3px 6px;
        align-items: center;
        color: white;
        background-color: $app-board-element-background-color;
        border-radius: 3px;
        cursor: pointer;
        &:hover {
          color: rgba(255, 255, 255, 1);
          filter: brightness(100%);
          background-color: $app-board-hover-icon-color;
        }
        &.avatar {
          padding: $gap;
          align-items: center;
          background-color: transparent;
          display: flex;
          > * {
            margin-right: 8px;
          }
          .ant-avatar {
            width: 28px;
            height: 28px;
            padding: 0;
            border-radius: 50%;
            border: 0;
            &:hover {
              filter: brightness(150%);
            }
          }
          span {
            padding-right: 4px;
            &.inviting {
              background-color: $app-board-element-background-color;
              padding: 0 8px 0 8px;
              border-radius: 3px;

              &:hover {
                background-color: $app-board-hover-icon-color;
              }
            }
          }
          .add-user-icon {
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: center;
            font-size: 36px;
            height: 28px;
            padding-left: 5px;
          }
        }
      }
    }
    .board-actions {
      display: flex;
      width: 102%;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      div.items,
      menu {
        a {
          padding: 0;
          color: $app-board-text;
          &:hover {
            cursor: pointer;
            color: $color;
          }
        }
      }
    }
  }
}
