@import "../../settings";

.card-items {
  background-color: #ffffff;
  padding: $gap;
  border-radius: $card-border-radius;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-bottom: $gap;
  img.card-cover {
    display: block;
    width: calc(100% + 2 * #{$gap});
    margin: -10px 0 10px (-10px);
    border-bottom-left-radius: $card-border-radius;
    border-bottom-right-radius: $card-border-radius;
  }
}
