@import "../../settings";

.app-navbar-top {
  height: $app-navbar-height;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  background-color: $app-bar-background-color;
  backdrop-filter: blur(20px);
  color: $app-bar-text-color;
  .appbar-container {
    max-width: 100%;
    .action-apps {
      display: flex;
      height: 100%;
      width: 100%;
      background-color: transparent;
      flex-direction: row;
      align-items: center;
      .items-left {
        padding: 0px 7px;
        border-radius: 3px;
        &:not(:first-child) {
          margin-left: 4px;
        }
        &:hover {
          background-color: $app-bar-left-text-color-hover;
        }
        &.home {
            font-size: 15px;
        }
        &.searching-bar {
          padding: 6px 18px;
          .group-searching {
            height: 24px;
            .input-search {
              max-height: 100%;
              background-color: $searching-input-bar;
              color: rgb(47, 54, 64);
              border: none;
              font-size: 14px;
              &::placeholder {
                color: $app-bar-placeholder-color;
                opacity: 1;
              }
            }
            .input-icon-searching-bar {
              padding: 6px 5px 4px 7px;
              background-color: $searching-input-bar-icon;   
              border-radius: 3px;           
              cursor: pointer;
            }
          }
        }
        .text-element {
          font-weight: 700;
        }
      }
    }
    .app-branding {
      padding: 2px 0;
      &:hover {
        background-color: transparent;
      }
      a {
        color: inherit;
        &:hover {
          text-decoration: none;
          color: lighten($color: aliceblue, $amount: 10)
        }
        img.logo-top {
          width: 29px;
          border-radius: 8px;
        }
        span.logo-app-name {
          font-size: 13px;
          text-transform: uppercase;
          margin-left: $gap;
          font-weight: bold;
        }
      }
    }
    .user-action {
      display: flex;
      height: 100%;
      width: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      div.items-right  {
        padding: 2px 11px;
        background-color: transparent;
        border-radius: 3px;
        &:not(:first-child) {
          margin-left: 4px;
        }
        &:hover {
          cursor: pointer;
          background-color: $app-bar-right-text-color-hover;
        }
        &.user-avatar {
          padding: 0;
          background-color: transparent;
          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
            &:hover {
              filter: brightness(120%);
            }
          }
        }
      }
    }
  }
}
