@import "../../settings";

.app-navbar-board {
  display: flex;
  height: $navbar-board-height;
  background-color: transparent;
  backdrop-filter: blur(15px);
  color: $app-board-text;
  font-size: 15px;
  .app-board-container {
    max-width: 100%;
    .board-navbar-info {
      display: flex;
      height: 45px;
      flex-direction: row;
      align-items: center;
      background-color: transparent;
      .divider {
        height: 30px;
        padding: 0 3px;
        font-size: 18px;
        &::before {
          content:'|';
          color: $app-board-divider;
        }
      }
      div.items {
        padding-left: 5px;
        padding-right: 5px;
        background-color: $app-board-element-background-color;
        border-radius: 3px;
        &:hover {
          cursor: pointer;
          background-color: $app-board-hover-icon-color;
        }
        &.members-avatar {
          padding: $gap;
          align-items: center;
          background-color: transparent;
          display: flex;
          justify-content: center;
          >* {
            margin-right: 5px;
          }
          img {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            object-fit: cover;
            border: 0;
            &:hover {
              filter: brightness(120%)
            }
          }
          span {
            padding-right: 4px;
            &.members-plus {
              background-color: $app-board-element-background-color;
              padding-left: 5px;
              padding-right: 2px;
              border-radius: 10px;
            }
            &.inviting {
              background-color: $app-board-element-background-color;
              padding: 0 8px 0 8px;
              border-radius: 3px;
            }
            &:hover {
              background-color: $app-board-hover-icon-color;
            }
          }
        }
      }
    }
    .board-actions {
      display: flex;
      height: 100%;
      width: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      div.items {
        padding: 0 8px;
        background-color: $app-board-element-background-color;
        border-radius: 3px;
        &:not(:first-child) {
          margin-left: 4px;
        }
        &:hover {
          cursor: pointer;
          background-color: $app-board-hover-icon-color;
        }
      }
    }
  }
}
