@import "../../settings";

.app-navbar-board {
  height: $navbar-board-height;
  padding-left: $gap;
  display: flex;
  align-items: center;
  background-color: transparent;
  backdrop-filter: blur(15px);
  color: rgb(36, 37, 42);
  font-size: 1.1em;
  .app-board-container {
    max-width: 100%;
    .board-navbar-info {
      display: flex;
      height: 100%;
      width: 100%;
      flex-direction: row;
      align-items: center;
      .divider {
        padding: 0 4px;
        font-size: 24px;
        height: 40px;
        &::before {
          content:'|';
          align-items: center;
          color: aliceblue;
        }
      }
      div.items {
        padding: 2px 10px;
        background-color: transparent;
        border-radius: 3px;
        &:hover {
          cursor: pointer;
          background-color: aliceblue;
        }
        &.members-avatar {
          padding: 2px;
          align-items: center;
          background-color: transparent;
          display: flex;
          justify-content: center;
          >* {
            margin-right: 2px;
          }
          img {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            object-fit: cover;
            border: 0;
            &:hover {
              filter: brightness(120%)
            }
          }
          span {
            padding: 5px 8px;
            background-color: transparent;

            &:hover {
              background-color: aliceblue;
            }
            &.members-plus {
              border-radius: 200px;
            }
            &.inviting {
              padding-right: 5px;
              border-radius: 3px;
            }
          }
        }
      }
    }
    .board-actions {
      display: flex;
      height: 100%;
      width: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      div.items {
        padding: 6px 10px;
        background-color: gray;
        border-radius: 3px;
        &:not(:first-child) {
          margin-left: 4px;
        }
        &:hover {
          cursor: pointer;
          background-color: aliceblue;
        }
      }
    }
  }
}
